Django
django-extensions
djangorestframework
drf-yasg
django-cors-headers
Werkzeug
pyOpenSSL
bcrypt
djangorestframework-simplejwt
pytest
pytest-django
Pillow
python-dotenv
cloudinary
django-cloudinary-storage
google-auth