Django
django-extensions
djangorestframework
drf-yasg
django-cors-headers
django-extensions
Werkzeug
pyOpenSSL
bcrypt
djangorestframework-simplejwt
pytest
pytest-django
Pillow
ffmpeg-python
django-allauth
python-dotenv
